nav {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    font-size: large; 
    text-align: center;
    height: 60px;
    
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    background-image: url('https://images.unsplash.com/photo-1605999081451-4436bf1d0d88?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGFydCUyMGdhbGxlcnl8ZW58MHx8MHx8&auto=format&fit=crop&w=500');
    
}





#logo {
   
    height: 150%;
    width: 100%;
    
    

}

#imgIndex {
    height: 300px;
    width: 250px;
}

#imgShow {
    height: 700px;
    width: 600px;
}
